.modalContainer{
    text-align: center;
    width: 360px;
    height: 720px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}
.dialogBox{
    width: 360px;
    height: 400px;
    display: flex; 
    align-items: flex-start;
    border: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 30px rgba(30, 30, 30, 0.185);
    box-sizing: border-box;
    background-color: white;
    z-index: 10000;
}
.backDrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}
.bankDivision {
    width: 25%;
    height: 40px;
    color: black;
    background-color: white;
    border: none;
}